POSTGRES_IMAGE=postgres:16.4
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=financial_warehouse
POSTGRES_PORT=5432

WAREHOUSE_DB_HOST=postgres
WAREHOUSE_DB_PORT=5432
WAREHOUSE_DB_NAME=financial_warehouse
WAREHOUSE_DB_USER=warehouse_app
WAREHOUSE_DB_PASSWORD=warehouse_app

AIRFLOW_IMAGE_NAME=financial-data-warehouse-airflow:local
AIRFLOW_UID=50000
AIRFLOW_DB_NAME=airflow_metadata
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_WEBSERVER_PORT=8080
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_FERNET_KEY=replace_with_generated_fernet_key
AIRFLOW_SECRET_KEY=replace_with_webserver_secret_key

METABASE_IMAGE=metabase/metabase:v0.50.26
METABASE_DB_NAME=metabase_metadata
METABASE_DB_USER=metabase
METABASE_DB_PASSWORD=metabase
METABASE_PORT=3000
